<%- include('partials/header.ejs') %>
<body class="is-preload">
    <%- include('partials/navbar.ejs') %> 
    <% console.log(data) %>
    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <h1><a href="#"><strong>Multiverse</strong> by HTML5 UP</a></h1>
                    <nav>
                        <ul>
                            <li><a href="#footer" class="icon solid fa-info-circle">About</a></li>
                        </ul>
                    </nav>
                </header>
 
            <!-- Main -->
                <div id="main">
                    <% for (let i=0; i< data.length; i++){ %>
                    <article class="thumb">
                        <a href="./images/<%= data[i].dataValues.medialocation %>" class="image"><img src="images/<%= data[i].dataValues.medialocation %>" alt="<% data[i].dataValues.title %>" /></a>
                        <h2><%= data[i].dataValues.title %></h2>
                        <p>Read Or Add
                            <a href="/comments/<%= data[i].dataValues.id %>">Comment</a>
                        </p>
                    </article>
                    <% } %>
                </div>

<%- include('partials/footer.ejs') %>
